<h1>Send in your user info here:</h1>

<form method="POST" action="/">
    First Name:<input name="name">
    Last Name:<input name="last-name"> <br>
    Age:<input name="age"> <br>
    Email:<input name="mail"> <br>
    School Name:<input name="school"> <br>
    Birthday:<input name="b-day"> <br>
    <input type="submit">
    
</form>